<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".chitiet_TB"
            android:exported="false" />
        <activity
            android:name=".xuly_notify"
            android:exported="false" />
        <activity
            android:name=".screen_giohang"
            android:exported="true" />
        <activity
            android:name=".screen_chitiet_phong"
            android:exported="false" />
        <activity
            android:name=".login_admin"
            android:exported="true" />
        <activity
            android:name=".screen_notifycations"
            android:exported="false" />
        <activity
            android:name=".screen_changepass"
            android:exported="false" />
        <activity
            android:name=".screen_contact"
            android:exported="false" />
        <activity
            android:name=".screen_statistics"
            android:exported="true" />
        <activity
            android:name=".screen_profile"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".screen_home"
            android:exported="true" />
        <activity
            android:name=".screen_forgot"
            android:exported="false" />
        <activity
            android:name=".screen_register"
            android:exported="false" />
        <activity
            android:name=".screen_Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>